PORT=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=7932ad001@smtp-brevo.com
SMTP_PASSWORD=xsmtpsib-fdc47f45a120b4bf0393c9a7f1693c0566d41f59e9578f1fa616d29891926adf-nU8Q4VXLpYsqjZmH
SMTP_FROM=sorockshestoi@gmail.com
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o
APP_DOMAIN=http://localhost:3000/auth
ENABLE_CLOUDINARY=true
CLOUD_NAME=diefffece
API_KEY=822244418985932
API_SECRET=KAFGjld3Hxdj9WPxG8Ir3frwyQ0